<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">About</h5>
      </div>
      <div class="modal-body">
        <md-block>{{docs}}</md-block>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Dismiss
        </button>
      </div>
    </div>
  </div>
</div>
